{% extends "base.html" %} 
	{% block body %}
	<form>
		  #1: <label>{{first}}</label><br>
          #2: <label>{{second}}</label><br>
		  #3:<label>{{third}}</label><br>
		  #4:<label>{{fourth}}</label><br>
		  #5:<label>{{fifth}}</label><br>
		  #6:<label>{{sixth}}</label><br>
		  #7: <label>{{seventh}}</label><br>
		  #8: <label>{{eight}}</label><br>
		  #9: <label>{{ninth}}</label><br>
		  #10: <label>{{tenth}}</label><br><br>
		  <input type="BUTTON" name="play again" onclick="window.location.href='http://127.0.0.1:5000/'" value="Play again?">
	</form>
	{% endblock %}